@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&family=Smooch+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@600&display=swap');

html, body {
    min-height: 100vh;
  }
.backImg {
    background: rgb(233,236,239);
    background: linear-gradient(90deg, rgba(233,236,239,1) 0%, rgba(222,226,230,1) 35%, rgba(173,181,189,1) 100%);
    width: 100vw;
    min-height: 100%;
}

.one {
    color: rgba($color: #DE1616, $alpha: 1.0) !important;
}

.two {
    color: rgba($color: #3f37c9, $alpha: 1.0) !important;
}

.nav-link,
.navbar-collapse {
    font-family: 'Montserrat', sans-serif;
    color: rgba($color:#e7ecef, $alpha: 1.0) !important;
}

.nav-link:focus {
    font-family: 'Montserrat', sans-serif;
    color: rgba($color: #DE1616, $alpha: 1.0) !important;
}

.nav-link:hover {
    font-family: 'Montserrat', sans-serif;
    color: rgba($color: #DE1616, $alpha: 1.0) !important;
}

.navbar-toggler {
    color: rgba($color: #e7ecef, $alpha: 1.0) !important;
}

.maintextA {
    font-family: 'Roboto';
    // display: inline;
}

.maintextS1 {
    display: inline;
}

.maintext3 {
    font-family: 'Roboto', sans-serif;
    display: inline;
    color: #DE1616;
}

.Maintext1 {
    font-family: 'Roboto', sans-serif;
    display: inline;
    color: #3a0ca3;
}

.Maintext2 {
    font-family: 'Roboto', sans-serif;
    display: inline;
    color: #DE1616
}

.u-about-us-header {
    font-family: 'Roboto';
    display: inline;
}

.u-about-us-header {
    font-family: 'Roboto Slab';
    font-weight: bold;
}

.u-about-us-text {
    // border-left: auto;
    // border-right: auto;
    // margin-bottom: 0;
    margin-left: 20px;
    height: 100%;
    font-family: 'Roboto Slab';
    color: #343a40;
}

// .u-about-us-image-div {
//     // min-height: 512px;
//     // background-image: url(../../assets/Images/pallets.jpg);
//     // // background-position: 100%;
//     // background-size:100% 100vh;  
//     // background-repeat:no-repeat;
//     // justify-content: center;
//     // display: flex;
// }

// .u-about-us-card{
//     height: 550px;
// }

.card {
    height: 500px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    padding: 0% ;
}
.row{
    width: 100% !important;
    height: 100%;
}
.pageTitle{
    font-family: 'Source Serif Pro', serif;
}
.img-fluid{
    height: 100%;
    width: 100%;
}
.contentCard{
    width: 50%;
    height: 100%;
    padding: 0%;
}
.contentCard1 {
    width: 50%;
    height: 100%;
    background: #f8f9fa;
    padding: 10px;
}
.contentText{
    font-family: 'Montserrat';
    color: #343a40;
    padding: 20px;
    font-size: 15px;
}
.card-body {
    padding-left: 15%;
    padding-right: 15%;

    .Subtext1 {
        margin-bottom: 0;
        font-family: 'Montserrat', sans-serif;
        color: #343a40;
    }
}