<div class="backImg">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid justify-content-between">
                <a class="navbar-brand" href="#"><span class="one">RC</span><span class="two">  Ventures</span></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" (click)="goDown1()" >About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" (click)="goDown2()" >Team</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"(click)="goDown3()">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"(click)="goDown4()">Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" (click)="goDown5()">Contact Us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    <div class="container mt-4 maintexts text-center mx-1">
        <h1 class="u-about-us-header display-5"> About Us</h1>
    </div>
    <div style="margin: 3%;">
        <div class="row">
            <div class="col-sm-6 p-0">
                <div class="card p-0">
                    <div class="card-body py-20">
                        <div class="px-2">
                        <p class="u-about-us-text">We, RC Ventures are one of the leading distributors, and suppliers of
                            various varieties of plastic crates,
                            industrial crates, dairy crates, bottle crates, fishery crates, fabricated crates, fruit crates,
                            vegetable crates roto
                            giant crates, waste bins, injection moulded plastic pallets, waste trolleys, roto waste bin,
                            chill pads and roto moulded pallets.
                            These are manufactured using quality virgin plastic and stainless steel to ensure high
                            durability and light weight for better
                            handling. The promoters of RC Ventures have more than 2 decades of experience in this field, and
                            also employ very experienced
                            and professional personnel for all customer requirements. <br><br> These are widely appreciated
                            because of the following features</p>
                        <br>
                        <ul class="u-about-us-text">
                            <li>Immense strength</li>
                            <li>Fine finish</li>
                            <li>Attractive designs</li>
                            <li>Durable</li>
                        </ul>
                    </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 p-0">
                <div class="card p-0">
                    <div class="card-body" style="padding-left:15%; padding-right:15%;">
                        <img src="../../assets/Images/product1.jpg" height="550px" width="100%" alt="" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 p-0">
                <div class="card p-0">
                    <div class="card-body" style="padding-left:15%; padding-right:15%;">
                        <img src="../../assets/Images/product1.jpg" height="550px" width="100%" alt="" />
                    </div>
                </div>
            </div>
            <div class="col-sm-6 p-0">
                <div class="card p-0">
                    <div class="card-body py-20">
                        <p class="u-about-us-header display-6 px-4"> Quality Assurance</p>
    
                        <div class="px-2">
                        <p class="u-about-us-text text-left"><br>We follow strict quality control policies to give our
                            customers
                            the
                            quality products.
                            Our adherence to ethical business practices and qualitative approach has given us an edge over
                            the
                            other
                            leading organizations. Right from the initial stage of procurement of raw material till the
                            final
                            delivery of
                            the consignment, we undertake stringent quality control measures. <br><br>
                            Tour quality analysts stringently check our range of products on well-defined parameters such
                            as:
                        </p>
                        <br>
                        <ul class="u-about-us-text">
                            <li>Load capacity to ensure that the crates, pallets and waste bins can be used effectively to
                                transport
                                and store heavy items</li>
                            <li>We ensure that our plastic products are made corrosion resistant and resistant to acid and
                                alkali
                                solutions</li>
                            <li>Strength of our products is of vital importance, so we conduct various tests to ensure that
                                they
                                can
                                withstand heavy weight</li>
                        </ul>
                        <p class="u-about-us-text text-left">
                            <br>With the help of these quality control parameters, we have maintained a strong position in
                            the
                            industry.
                            Our advanced methodology and innovative techniques enable us to manufacture our range of
                            products in
                            compliance
                            with international norms. Further, we also update our testing machines and tools on regular
                            bases so
                            that
                            we can provide effective plastic crates, pallets and waste bins to our valued clients.
                        </p>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 p-0">
                <div class="card p-0">
                    <div class="card-body py-20">
                        <p class="u-about-us-header display-6 px-4">Warehousing Packaging</p>
        
                        <div class="px-2">
                            <p class="u-about-us-text text-left"><br>Our warehousing unit has high storage capacity to stock our
                                range of Plastic Crates,
                                Pallets and Waste Bins in bulk quantity. It has been internally divided into several sections to
                                facilitate an easy
                                accommodation, access and retrieval of our Plastic Crates, Pallets and Waste Bins. <br><br>
                                Tour quality analysts stringently check our range of products on well-defined parameters such as
                            </p>
                            <br>
                            <ul class="u-about-us-text">
                                <li>Spacious</li>
                                <li>Fire safety arrangements</li>
                                <li>Highly organized</li>
                                <li>Well connected with various modes of transport</li>
                            </ul>
                            <p class="u-about-us-text text-left">
                                Besides, we also pay special heed in effective packaging of our range of products so that they
                                do not get
                                damaged in transit. We make use of quality packing material to ensure compliance with
                                environment friendly
                                standards enforced worldwide. In this way we are able to offer our clients with tamper free
                                Plastic Crates,
                                Pallets and Waste Bins.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 p-0">
                <div class="card p-0">
                    <div class="card-body" style="padding-left:15%; padding-right:15%;">
                        <img src="../../assets/Images/product1.jpg" height="550px" width="100%" alt="" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 p-0">
                <div class="card p-0">
                    <div class="card-body" style="padding-left:15%; padding-right:15%;">
                        <img src="../../assets/Images/product1.jpg" height="550px" width="100%" alt="" />
                    </div>
                </div>
            </div>
            <div class="col-sm-6 p-0">
                <div class="card p-0">
                    <div class="card-body py-20">
                        <p class="u-about-us-header display-6 px-4">Research & Development</p>
        
                        <div class="px-2">
                            <p class="u-about-us-text text-left"><br>We are facilitated with Research and Development
                                department, which is supervised by a
                                team of experienced research experts. This department is equipped with all the latest tools and
                                instruments
                                assisting us in developing our products in line with the latest advancements in the industry.
                                Our research experts
                                also aid us in enhancing the production line. <br><br>
                                Our R&D department conducts research on the following factors</p>
                            <br>
                            <ul class="u-about-us-text">
                                <li>Up-gradation of technology</li>
                                <li>Product research</li>
                                <li>Improvisation of existing product range</li>
                                <li>Development of new product range</li>
                                <li>Customization</li>
                            </ul>
                            <p class="u-about-us-text text-left">
                                All the information gathered from these studies are carefully documented and sent to the
                                concerned department for
                                product development. It is also recorded in our archives for future references.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 p-0">
                <div class="card p-0">
                    <div class="card-body">
                        <p class="u-about-us-header display-6 px-4">Customer Satisfaction</p>
        
                        <div class="px-2">
                            <p class="u-about-us-text text-left"><br>Being a customer centric organization, our efforts have
                                always been
                                directed
                                towards delivering quality products that meets the client expectations. Our constant
                                innovation,
                                evolution and a zest to introduce new and improved products has kept us in the forefront of
                                domestic market.
                                Over the years we have made a long list of client base. <br><br>
                                Some of the factors that enable us in acquiring utmost client satisfaction include</p>
                            <br>
                            <ul class="u-about-us-text">
                                <li>Immediate response to customers queries</li>
                                <li>Easy transaction modes</li>
                                <li>Implementation of established quality control policies</li>
                                <li>Delivery within stipulated timeframe</li>
                                <li>Fulfilment of their specific requirements</li>
                            </ul>
                            <p class="u-about-us-text text-left">
                                <br>Further, to make monetary transactions hassle free we accept easy payment modes from our
                                valued clients.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 p-0">
                <div class="card p-0">
                    <div class="card-body">
                        <img src="../../assets/Images/product1.jpg" height="550px" width="100%" alt="" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 p-0">
                <div class="card p-0">
                    <div class="card-body">
                        <img src="../../assets/Images/product1.jpg" height="550px" width="100%" alt="" />
                    </div>
                </div>
            </div>
            <div class="col-sm-6 p-0">
                <div class="card p-0">
                    <div class="card-body">
                        <p class="u-about-us-header display-6 px-4">Why Us</p>
        
                        <div class="px-2">
                            <p class="u-about-us-text text-left">Our constant efforts towards serving our clients in the
                                most feasible and
                                appropriate manner has taken us to the peak of success. <br><br>
                                We have attained the enviable position owing to the following factors</p>
                            <br>
                            <ul class="u-about-us-text">
                                <li>Ethical business practices</li>
                                <li>Quality range of Plastic Crates, Pallets Ice boxes and Waste Bins</li>
                                <li>Modern infrastructure</li>
                                <li>Customization</li>
                                <li>Team of experts</li>
                                <li>Timely delivery</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>