<div class="backImg">
    <div class="pageTitle pt-5 text-center">
        <h2 class="pt-3">About Us</h2>
    </div>
    <div class="container pt-4">
        <div class="card">
            <div class="row m-0">
                <div class="col-md-6 contentCard">
                    <img src="../../assets/Images/product5.jpg" alt="image1" class="img-fluid">
                </div>
                <div class="col-md-6 contentCard1">
                    <h3 class="card-title mt-2 px-5 text-center">Industry Experience</h3>
                    <p class="contentText m-0">We, RC Ventures are one of the leading distributors, and suppliers of
                        various varieties of plastic crates,
                        industrial crates, dairy crates, bottle crates, fishery crates, fabricated crates, fruit crates,
                        vegetable crates roto
                        giant crates, waste bins, injection moulded plastic pallets, waste trolleys, roto waste bin,
                        chill pads and roto moulded pallets.
                        These are manufactured using quality virgin plastic and stainless steel to ensure high
                        durability and light weight for better
                        handling. The promoters of RC Ventures have more than 2 decades of experience in this field, and
                        also employ very experienced
                        and professional personnel for all customer requirements. <br><br> These are widely appreciated
                        because of the following features</p>
                        <ul class="contentText px-5 pt-0 m-0">
                            <li>Immense strength</li>
                            <li>Fine finish</li>
                            <li>Attractive designs</li>
                            <li>Durable</li>
                        </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="card">
            <div class="row m-0">
                <div class="col-md-6 contentCard1">
                    <h3 class="card-title mt-2 px-5 text-center">Quality Assurance</h3>
                    <p class="contentText m-0">We follow strict quality control policies to give our
                        customers
                        the
                        quality products.
                        Our adherence to ethical business practices and qualitative approach has given us an edge over
                        the
                        other
                        leading organizations. Right from the initial stage of procurement of raw material till the
                        final
                        delivery of
                        the consignment, we undertake stringent quality control measures. <br><br>
                        Tour quality analysts stringently check our range of products on well-defined parameters such
                        as:</p>
                    <ul class="contentText px-5 pt-0 m-0">
                        <li>Load capacity to ensure that the crates, pallets and waste bins can be used effectively to
                            transport
                            and store heavy items</li>
                        <li>We ensure that our plastic products are made corrosion resistant and resistant to acid and
                            alkali
                            solutions</li>
                        <li>Strength of our products is of vital importance, so we conduct various tests to ensure that
                            they
                            can
                            withstand heavy weight</li>
                    </ul>
                </div>
                <div class="col-md-6 contentCard">
                    <img src="../../assets/Images/product4.jpg" alt="image1" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-5 pb-5">
        <div class="card">
            <div class="row m-0">
                <div class="col-md-6 contentCard">
                    <img src="../../assets/Images/product5.jpg" alt="image1" class="img-fluid">
                </div>
                <div class="col-md-6 contentCard1">
                    <h3 class="card-title mt-2 px-5 text-center">Warehousing Packaging</h3>
                    <p class="contentText m-0">>Our warehousing unit has high storage capacity to stock our
                        range of Plastic Crates,
                        Pallets and Waste Bins in bulk quantity. It has been internally divided into several sections to
                        facilitate an easy
                        accommodation, access and retrieval of our Plastic Crates, Pallets and Waste Bins. <br><br> Tour quality analysts stringently check our range of products on well-defined parameters such as</p>
                        <ul class="contentText px-5 pt-0 m-0">
                            <li>Spacious</li>
                            <li>Fire safety arrangements</li>
                            <li>Highly organized</li>
                            <li>Well connected with various modes of transport</li>
                        </ul>
                </div>
            </div>
        </div>
    </div>
</div>