<app-main-navbar></app-main-navbar>
<div class="backImg">
    <div class="container maintexts text-center mx-5">
        <h2 class="Maintext1 d-block pt-5">South India's leading Contributor of </h2>
        <h2 class="Maintext2 d-block"> Material Handling Applications and Waste Management</h2>
    </div>
    <div class="container mt-5 mx-5">
        <p class="Subtext1 text-center">
            We, RC Ventures are one of the leading distributors, and suppliers of various varieties of plastic crates,
            industrial crates, dairy crates, bottle crates, fishery crates, fabricated crates, fruit crates, vegetable
            crates roto giant crates, waste bins, injection moulded plastic pallets, waste trolleys, roto waste bin,
            chill pads and roto moulded pallets. These are manufactured using quality virgin plastic and stainless steel
            to ensure high durability and light weight for better handling. The promoters of RC Ventures have more than
            2 decades of experience in this field, and also employ very experienced and professional personnel for all
            customer requirements.</p>
    </div>
    <div class="mt-5 d-flex justify-content-center">
        <button (click)="goDown2()" class=" btn Nav-button">
           Who We Are
        </button>
    </div>
</div>
<app-header id="aboutUS"></app-header>
<app-third id="whoveare"></app-third>
<app-ourservice id="Services"></app-ourservice>
<app-our-prdoucts id="product"></app-our-prdoucts>
<app-contact-us id="contactUs"></app-contact-us>