<div class="backImg">
    <div class="newNav mt-5">
        <ul class="nav nav-pills nav-fill">
            <li class="nav-item">
                <button class="btn">Crate</button>
            </li>
            <li class="nav-item">
                <button class="btn">Chill pads</button>
            </li>
            <li class="nav-item">
                <button class="btn">Mobile garbage bins</button>
            </li>
            <li class="nav-item">
                <button class="btn">Milk can</button>
            </li>
            <li class="nav-item">
                <button class="btn">Insulated Ice boxes</button>
            </li>
            <li class="nav-item">
                <button class="btn">Milk can</button>
            </li>
            <li class="nav-item">
                <button class="btn">Insulated Ice boxes</button>
            </li>
        </ul>
    </div>
    <div class="ListCards container mt-5">
        <div class="card m-3" *ngFor="let item of records" style="width: 18rem;">
            <img class="card-img-top" [src]="item.icon" alt="">
                <div class="card-body">
                   Product number  {{item['Name']}}
                </div>
        </div>
    </div>
</div>