<div class="backImg">
    <div class="container maintexts text-center mx-1 mt-5">
        <h1 class="Maintext1 display-4">Our </h1>
        <h1 class="Maintext2 display-4"> Services</h1>
    </div>
<div class="container mt-5 mx-5">
    <p class="Subtext12 text-left">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, quasi molestiae velit cum qui odio reprehenderit, incidunt placeat saepe dicta rem similique illum animi dolorum. Sit quaerat commodi unde cumque.
    Voluptate excepturi tenetur nam eaque nemo, hic blanditiis recusandae est necessitatibus dicta obcaecati esse, expedita corrupti nostrum facere quidem. Laudantium culpa nesciunt quae in molestias reiciendis exercitationem at possimus error!
    Repellat illo perspiciatis repellendus necessitatibus soluta? Repellat, ratione nam! Cum dolore perferendis dolores ducimus consequuntur et minima animi hic sit veritatis vel commodi ex itaque, quo corporis sequi doloribus sunt.</p>
</div>
<div class="row mt-3 px-5 columnTexts">
        <div class="col-3">
            <p class="Subtext1 text-left">Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio officia animi dicta omnis est asperiores harum perspiciatis doloremque, tenetur voluptatum repudiandae excepturi sit consectetur sapiente? Voluptatem magni eos accusamus! Magnam.</p>
        </div>
        <div class="col-3">
            <p class="Subtext1 text-left">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora, ratione dolores deleniti eveniet laudantium aliquam sint dolorem. Obcaecati minima excepturi ad perferendis praesentium, eum quibusdam nisi, incidunt necessitatibus repudiandae illum?</p>
        </div>
        <div class="col-3">
            <p class="Subtext1 text-left">Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio officia animi dicta omnis est asperiores harum perspiciatis doloremque, tenetur voluptatum repudiandae excepturi sit consectetur sapiente? Voluptatem magni eos accusamus! Magnam.</p>
        </div>
        <div class="col-3">
            <p class="Subtext1 text-left">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora, ratione dolores deleniti eveniet laudantium aliquam sint dolorem. Obcaecati minima excepturi ad perferendis praesentium, eum quibusdam nisi, incidunt necessitatibus repudiandae illum?</p>
        </div>
    </div>
</div>