@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&family=Smooch+Sans&display=swap');
.backImg {
    background-color: #212529;
    width: 100vw;
    min-height: 100vh;
    position: relative;
    top: 65px;
}
.navbar{
    // opacity: 0.6;
    // border-bottom: solid white 4px;
}
.one{
    color: rgba($color: #DE1616, $alpha: 1.0)  !important;
}
.two{
    color: rgba($color: #3f37c9, $alpha: 1.0)  !important;
}
// .navbar-brand{
//     color: rgba($color: #035AA6, $alpha: 1.0)  !important;
// }
.nav-link, .navbar-collapse{
    font-family: 'Montserrat', sans-serif;
    color: rgba($color:#e7ecef, $alpha: 1.0)  !important;
}
.nav-link:focus{
    font-family: 'Montserrat', sans-serif;
    color: rgba($color: #DE1616, $alpha: 1.0)  !important;
}
.nav-link:hover{
    font-family: 'Montserrat', sans-serif;
    color: rgba($color: #DE1616, $alpha: 1.0)  !important;
}
.navbar-toggler{
    color: rgba($color: #e7ecef, $alpha: 1.0)  !important;
}
.maintextA{
    font-family: 'Roboto', sans-serif;
    display: inline;
}
.maintextS1{
    font-family: 'Roboto', sans-serif;
    display: inline;
}
.maintext3{
    font-family: 'Roboto', sans-serif;
    display: inline;
    color: #DE1616;
}
.Maintext1{
    font-family: 'Montserrat', sans-serif;
    display: inline;
    color: #DE1616;
}
.Maintext2{
    font-family: 'Montserrat', sans-serif;
    display: inline;
    color: #ffffff;
}
.Subtext1{
    font-family: 'Montserrat', sans-serif;
    color: #f8f9fa;
}
.Subtext12{
    padding-bottom: 50px;
    border-bottom: solid white 4px;
    color: #f8f9fa;
}
.columnTexts{
    padding: 50px;
}