<div class="backImg">
    <div class="formBody mt-5">
        <h1>Lets keep in touch</h1>

        <div class="otherInfo">
            <div class="row p-5">
                <h1 class="mb-5">Contact Us</h1>
                <div class="col-4 text-center">
                    <p class="contactText">We are available on all worling days from 9 AM IST to 8 PM IST</p>
                </div>
                <div class="col-4 text-center">
                    <p class="contactText">Email : rcvmarketing@gmail.com</p>
                    <p class="contactText">contact : 7358030034 / 9840023483</p>
                </div>
                <div class="col-4 text-center">
                    <p class="contactText">No.3 1803, Madhanandhapuram, Kundrathur road, Chennai - 600116, TamilNAdu, India</p>
                </div>
            </div>
        </div>
    </div> 
</div>
