@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

.logo-One,.logo-Two{
    font-family: 'Monoton', cursive;
}
.logoRed{
    color: #ed393c;
}

.navbar{
    background-color: #333333;
}
.nav-link{
    font-family: 'Source Serif Pro', serif;
    color: #E6E7E8;
    cursor: pointer;
}
.nav-link:hover{
    color: #3A32C3;
    cursor: pointer;
}
.nav-link:active{
    color: #3a0ca3;
    cursor: pointer;
}

