<div class="backImg">
    <div class="container maintexts text-center mx-1">
        <h1 class="Maintext1 display-4">Who </h1>
        <h1 class="Maintext2 display-4">We </h1>
        <h1 class="maintext3 display-4">Are</h1>
    </div>
    <div class="container mt-5 mx-5">
        <p class="Subtext1 text-left">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, quasi molestiae
            velit cum qui odio reprehenderit, incidunt placeat saepe dicta rem similique illum animi dolorum. Sit
            quaerat commodi unde cumque.
            Voluptate excepturi tenetur nam eaque nemo, hic blanditiis recusandae est necessitatibus dicta obcaecati
            esse, expedita corrupti nostrum facere quidem. Laudantium culpa nesciunt quae in molestias reiciendis
            exercitationem at possimus error!
            Repellat illo perspiciatis repellendus necessitatibus soluta? Repellat, ratione nam! Cum dolore perferendis
            dolores ducimus consequuntur et minima animi hic sit veritatis vel commodi ex itaque, quo corporis sequi
    </div>
    <div class="row mt-5 px-5">
        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <img alt="card-Image" class="card-img-top" src="Cardsback.jpg">
                <div class="card-body">
                  <h5 class="card-title">Thomas Shelby</h5>
                  <p class="card-text">Steve Paul Jobs, one of the inventors and businessmen of the United States of America, was known for his great achievements and served humanity and left a great impact on life.</p>
                </div>
              </div>
        </div>
        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <img alt="card-Image" class="card-img-top" src="Cardsback.jpg">
                <div class="card-body">
                  <h5 class="card-title">Thomas Shelby</h5>
                  <p class="card-text">Steve Paul Jobs, one of the inventors and businessmen of the United States of America, was known for his great achievements and served humanity and left a great impact on life.</p>
                </div>
              </div>
        </div>
        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <img alt="card-Image" class="card-img-top" src="Cardsback.jpg">
                <div class="card-body">
                  <h5 class="card-title">Thomas Shelby</h5>
                  <p class="card-text">Steve Paul Jobs, one of the inventors and businessmen of the United States of America, was known for his great achievements and served humanity and left a great impact on life.</p>
                </div>
              </div>
        </div>
        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <img alt="card-Image" class="card-img-top" src="Cardsback.jpg">
                <div class="card-body">
                  <h5 class="card-title">Thomas Shelby</h5>
                  <p class="card-text">Steve Paul Jobs, one of the inventors and businessmen of the United States of America, was known for his great achievements and served humanity and left a great impact on life.</p>
                </div>
              </div>
        </div>
    </div>
</div>