<div class="backImg">
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid justify-content-between">
            <a class="navbar-brand" href="#"><span class="one">RC</span><span class="two">  Ventures</span></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="goDown1()" >About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="goDown2()" >Team</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"(click)="goDown3()">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"(click)="goDown4()">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="goDown5()">Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container mt-4 maintexts px-0 mx-5">
        <h1 class="Maintext1 display-4">Our</h1>
        <h1 class="Maintext2 display-4"> Products </h1>
    </div>
    <div class="row mt-3 px-5">
        <div class="col justify-content-center">
            <div class="card" style="width: 60rem; height: 30rem;">
                <div class="card-img-top">
                    <div class="btn-holder">
                            <button class="btn mx-1"><</button>
                            <button class="btn mx-1">></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-all-products></app-all-products>