<!-- <div class="backImg">
    <div class="container maintexts px-0 mx-5">
        <h1 class="Maintext1 display-4">Our</h1>
        <h1 class="Maintext2 display-4"> Products </h1>
    </div>
    <div class="row mt-3 px-5">
        <div class="col justify-content-center">
            <div class="card" style="width: 60rem; height: 30rem;">
                <div class="card-img-top">
                    <div class="btn-holder">
                            <button class="btn mx-1"><</button>
                            <button class="btn mx-1">></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- <app-all-products></app-all-products>  -->